BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> b8a59747f90f

INSERT INTO alembic_version (version_num) VALUES ('b8a59747f90f') RETURNING alembic_version.version_num;

-- Running upgrade b8a59747f90f -> 178dba9c9f99

DROP TABLE question_evaluations;

DROP TABLE answers;

ALTER TABLE interview_evaluations ALTER COLUMN question_evaluations DROP DEFAULT;

UPDATE alembic_version SET version_num='178dba9c9f99' WHERE alembic_version.version_num = 'b8a59747f90f';

-- Running upgrade 178dba9c9f99 -> ca242a19e080

ALTER TABLE users ADD COLUMN is_onboarded BOOLEAN DEFAULT false NOT NULL;

UPDATE alembic_version SET version_num='ca242a19e080' WHERE alembic_version.version_num = '178dba9c9f99';

-- Running upgrade ca242a19e080 -> d7b6a0fd0e48

CREATE TABLE organizations (
    id SERIAL NOT NULL, 
    name VARCHAR(255) NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_organizations_id ON organizations (id);

ALTER TABLE interviews ADD COLUMN organization_id INTEGER;

ALTER TABLE users ADD COLUMN organization_id INTEGER;

UPDATE users SET organization_id = NULL;

UPDATE interviews SET organization_id = NULL;

SELECT id, name FROM users WHERE role='admin' AND is_onboarded=true;

